<%= form_for :user, url: sessions_path, html: { class: 'ui form error' } do |f| %>
    <h4 class="ui dividing header">Kullanıcı Girişi</h4>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: :off, required: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: :off, required: true %>
    </div>

    <%= button_tag 'Giriş Yap', class: 'ui button fluid primary', type: :submit %>
<% end %>
