<%= form_for @user, html: { class: 'ui form error' } do |f| %>
    <% if @user.errors.present? %>
      <div class="ui error message">
        <div class="header">Hata Mesajları</div>
        <ul class="form-error">
          <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h4 class="ui dividing header">
      Hesap Bilgileri
    </h4>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>


    <%= f.fields_for :profile do |p| %>
      <h4 class="ui dividing header">Kişisel Bilgiler</h4>

      <div class="field">
        <%= p.label :first_name %>
        <%= p.text_field :first_name %>
      </div>

      <div class="field">
        <%= p.label :last_name %>
        <%= p.text_field :last_name %>
      </div>
    <% end %>

    <% if @user.id.nil? %>
    <div class="field">
      <div class="ui checkbox">
        <%= f.check_box :terms_of_service, tabindex: 0, disabled: true %>
        <%= f.label :terms_of_service %>
      </div>
    </div>
    <% end %>

    <%= f.button 'Kayıt Ol', class: 'ui button fluid primary', type: :submit %>
<% end %>

<div id="terms" class="ui modal">
  <div class="header">
    Site Kullanım Kuralları
  </div>
  <div class="content">
    <p>Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık yazılımları ile popüler olmuştur.</p>
    <p>Yaygın inancın tersine, Lorem Ipsum rastgele sözcüklerden oluşmaz. Kökleri M.Ö. 45 tarihinden bu yana klasik Latin edebiyatına kadar uzanan 2000 yıllık bir geçmişi vardır. Virginia'daki Hampden-Sydney College'dan Latince profesörü Richard McClintock, bir Lorem Ipsum pasajında geçen ve anlaşılması en güç sözcüklerden biri olan 'consectetur' sözcüğünün klasik edebiyattaki örneklerini incelediğinde kesin bir kaynağa ulaşmıştır. Lorm Ipsum, Çiçero tarafından M.Ö. 45 tarihinde kaleme alınan "de Finibus Bonorum et Malorum" (İyi ve Kötünün Uç Sınırları) eserinin 1.10.32 ve 1.10.33 sayılı bölümlerinden gelmektedir. Bu kitap, ahlak kuramı üzerine bir tezdir ve Rönesans döneminde çok popüler olmuştur. Lorem Ipsum pasajının ilk satırı olan "Lorem ipsum dolor sit amet" 1.10.32 sayılı bölümdeki bir satırdan gelmektedir.</p>
  </div>
  <div class="actions">
    <div class="ui ok button positive right labeled icon">
      Onaylıyorum
      <i class="checkmark icon"></i>
    </div>
    <div class="ui deny button negative right labeled icon">
      Onaylamıyorum
      <i class="cancel icon"></i>
    </div>
  </div>
</div>
