<div class="page-header">
  <h4><%= @user.full_name %></h4>
</div>


<div id="user_show" class="row">
  <div class="col-md-3">
    <%= image_tag @user.profile.medium_photo, class: 'img-rounded img-responsive' %>
  </div>
  <div class="col-md-9">
    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#about" aria-controls="about" role="tab" data-toggle="tab">
            Hakkında
          </a>
        </li>
        <li role="presentation">
          <a href="#posts" aria-controls="posts" role="tab" data-toggle="tab">
            Yazılar <span class="badge"><%= @posts.count %></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">
            Yorumlar <span class="badge"><%= @comments.count %></span>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="about">
          <table class="table table-striped">
            <tbody>
            <tr>
              <td>Adı</td>
              <td><%= @user.profile.first_name %></td>
            </tr>
            <tr>
              <td>Soyadı</td>
              <td><%= @user.profile.last_name %></td>
            </tr>
            <tr>
              <td>Kayıt Tarihi</td>
              <td><%= @user.created_at.to_formatted_s(:long) %></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="posts">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Yazı Başlığı</th>
              <th>Yorum Sayısı</th>
              <th>Yayınlanma Tarihi</th>
            </tr>
            </thead>
            <tbody>
            <% @posts.each_with_index do |post, index| %>
                <tr>
                  <td class="row"><%= index + 1 %></td>
                  <td><%= link_to post.title, post_path(post) %></td>
                  <td><%= post.comments.count %></td>
                  <td><%= post.created_at.to_formatted_s(:long) %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="comments">
          <table class="table table-striped ">
            <thead>
            <tr>
              <th>#</th>
              <th>Yazı</th>
              <th>Yayınlanma Tarihi</th>
            </tr>
            </thead>
            <tbody>
            <% @comments.each_with_index do |comment, index| %>
                <tr>
                  <td class="row"><%= index + 1 %></td>
                  <td><%= link_to comment.post.title, post_path(comment.post) %></td>
                  <td><%= comment.created_at.to_formatted_s(:long) %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>