<tr>
  <td><%= post.id %></td>
  <td colspan="2">
    <%= link_to post.title, post_path(post) %>
  </td>
  <td>
    <%= link_to post.author.full_name, user_path(post.author) %>
  </td>
  <td>
    <%= post.comments.count %>
  </td>
  <td>
    <%= post.created_at.to_formatted_s(:long) %>
  </td>
</tr>