<h1><%= @post.title %></h1>
Created by <%= time_ago_in_words @post.created_at %> ago
<%= simple_format @post.body %>
<% if @post.author == current_user %>
  <%= link_to "Edit", edit_post_path(@post) %>
  <%= link_to 'Delete', post_path(@post), method: :delete %>
<% end %>
<br />
<ul>
  <%= render @post.comments %>
</ul>
<br />
<%= render partial: 'comments/form' %>
