<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Herkesin Günliği', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Ana Sayfa', root_path %></li>
        <li><%= link_to 'Yazarlar', users_path %></li>
        <li><%= link_to 'Günlükler', posts_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to 'Profilim', user_path(current_user), class: 'item' %></li>
          <li><%= link_to 'Profilimi Düzenle', edit_user_path(current_user), class: 'item' %></li>
          <li><%= link_to 'Çıkış Yap', session_path(current_user), method: :delete, class: 'item' %></li>
        <% else %>
          <li><%= link_to 'Kayıt Ol', new_user_path, class: 'item' %></li>
          <li><%= link_to 'Giriş Yap', new_session_path, class: 'item' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>