%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Herkesin Günliği', root_path, class: 'navbar-brand'
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active= link_to 'Ana Sayfa', root_path
        %li= link_to 'Yazarlar', users_path
        %li= link_to 'Günlükler', posts_path
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li= link_to 'Profilim', user_path(current_user), class: 'item'
          %li= link_to 'Profilimi Düzenle', edit_user_path(current_user), class: 'item'
          %li= link_to 'Çıkış Yap', session_path(current_user), method: :delete, class: 'item'
          %li
            = link_to 'TR', root_path(lang: 'tr')
          %li
            = link_to 'EN', root_path(lang: 'en')
        - else
          %li= link_to 'Kayıt Ol', new_user_path, class: 'item'
          %li= link_to 'Giriş Yap', new_session_path, class: 'item'
