<!DOCTYPE html>
<html>
  <head>
    <title>Lyk2017Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/main_menu' %>
    <div id="main_area" class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>

    <% flash.each do |type, message| %>
      <div class="hide pnotify-notification" data-type="<%= type %>" data-message="<%= message %>"></div>
    <% end %>
  </body>
</html>
